<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}
    <link rel="stylesheet" type="text/css" href='{% static "core/styles.css"%}'> 

    <title>Movie Recommender</title>
</head>


<body>
    
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>

    {% block content %}

    <div class="text-div">
        <h1 style="color: white; font-family: 'Poppins', sans-serif; font-size: 50px;">
            Enter the model you want to use to recommend you movies</h1>
    </div>
    

    <div class="wrapper">
        <!-- displays it below the button in a x row 1 column format -->
        <div style="display: flex; flex-direction: column; flex-wrap: wrap;">
            <a href="{% url 'search' %}?option=1"><button class="button-80" role="button">Default</button></a>
            <h2 style="color: white; font-size: 13px;"><i>(most accurate)</i></h2>
        </div>
        <a href="{% url 'search' %}?option=2"><button class="button-80" role="button">Ekman</button></a>
        <a href="{% url 'search' %}?option=3"><button class="button-80" role="button">EmoRoberta</button></a>
        <a href="{% url 'search' %}?option=4"><button class="button-80" role="button">NRCLex</button></a>

    </div>

</body>

</html>

{% endblock %}

